<nav class="navbar navbar-default colorShadow" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">PubMeddler</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li <%= params[:controller] == 'landing' and params[:action] == 'index' ? 'class=active' : ''%>><a href="/">Home</a></li>
				<li class="dropdown <%= params[:controller] == 'queries' ? 'active' : '' %>">
					<a href="/queries" class="dropdown-toggle" data-toggle="dropdown">Queries <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><%= link_to "Saved Queries", queries_path %></li>
						<li><a href="/queries/new">New Query</a></li>
					</ul>
				</li>
				<li class="dropdown <%= params[:controller] == 'notes' ? 'active' : '' %>">
					<a href="/notes" class="dropdown-toggle" data-toggle="dropdown">Notes <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><%= link_to "Saved Notes", notes_path %></li>
						<li><a href="/notes/new">New Note</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
				<li><%= link_to current_user.username, edit_user_registration_path %></li>
				<li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
				<% else %>
				<li><%= link_to "Sign Up", new_user_registration_path %></li>
				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
					<ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
						<li>
							<div class="row">
								<div class="col-md-12">
									<%= form_for(:user, url: session_path(:user)) do |f| %>
									<div class="form-group">
										<%= f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => 'Email address' %>
									</div>

									<div class="form-group">
										<%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => 'Password' %>
									</div>

									<div class="form-group">
										<%= f.check_box :remember_me %>
										<%= f.label :remember_me %>
									</div>

									<div class="form-group">
										<%= f.submit "Log in", :class => 'btn btn-success btn-block' %>
									</div>
									<% end %>
								</div>
							</div>
						</li>
					</ul>
				</li>
				<% end %>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
</nav>
