<!DOCTYPE html>
<html>
<head>
	<title>PubMeddler</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<header>
		<%= render 'layouts/header.html.erb' %>
	</header>

	<div class="container">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
	</div>

	<% if params[:controller] == 'landing' and params[:action] == 'index' %>
		<%= yield %>
	<% else %>
		<div class="container">
			<%= yield %>
		</div>
	<% end %>

</body>
</html>
