<!DOCTYPE html>
<html>
<head>
	<title>PubMeddler</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<header>
		<%= render 'layouts/header.html.erb' %>
	</header>

	<% if params[:controller] == 'landing' and params[:action] == 'index' %>
	<%= yield %>
	<% else %>
	<div class="container">
		<%= yield %>
	</div>
	<% end %>

	<% if notice %>
	<div class="bottomRight flashAlert alert alert-dismissible alert-success">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<p class="notice"><%= notice %></p>
	</div>
	<% end %>
	<% if alert %>
	<div class="bottomRight flashAlert alert alert-dismissible alert-danger">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<p class="alert"><%= alert %></p>
	</div>
	<% end %>

	<a href="#" id="backToTop" class="bottomRight colorShadow"></a>
</body>
</html>
